table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
  }
  
  tr:nth-child(even) {
    background-color: #d4d4d4;
  }
  
  tr:nth-child(odd) {
    background-color: #ffffff;
  }
  